<menu>
    <menuitem label='_t{Administration}'>
        <icon>fas:home fa-fw</icon>
        <menu>
              <menuitem label='_t{Programs}'>
                  <icon>far:file-code fa-fw</icon>
                  <action>SystemProgramList</action>
              </menuitem>
              <menuitem label='_t{Groups}'>
                  <icon>fas:users fa-fw</icon>
                  <action>SystemGroupList</action>
              </menuitem>
              <menuitem label='_t{Users}'>
                  <icon>fas:user fa-fw</icon>
                  <action>SystemUserList</action>
              </menuitem>
              <menuitem label='_t{Contacts}'>
                  <icon>far:address-card fa-fw</icon>
                  <action>SystemContactsList</action>
              </menuitem>
              <menuitem label='_t{Menu editor}'>
                  <icon>far:edit fa-fw</icon>
                  <action>SystemMenuEditor</action>
              </menuitem>
              <menuitem label='PHP Info'>
                  <icon>fas:info-circle fa-fw</icon>
                  <action>SystemPHPInfoView</action>
              </menuitem>
              <menuitem label='System Information'>
                  <icon>fas:desktop fa-fw</icon>
                  <action>SystemInformationView</action>
              </menuitem>
              <menuitem label='_t{Preferences}'>
                  <icon>fas:cog fa-fw</icon>
                  <action>SystemPreferenceForm#method=onEdit</action>
              </menuitem>
        </menu>
    </menuitem>

    <menuitem label="Produtos">
        <icon>fas:shopping-basket fa-fw</icon>
        <menu>
            <menuitem label="Novo registro">
                <action>ProdutoForm</action>
                <icon>fas:plus-square fa-fw</icon>
            </menuitem>
            <menuitem label="Buscar">
                <action>ProdutoList</action>
                <icon>fas:search fa-fw</icon>
            </menuitem>
        </menu>
    </menuitem>

        <menuitem label="Categorias Produto">
        <icon>fas:tag fa-fw</icon>
        <menu>
            <menuitem label="Novo registro">
                <action>CategoriaProdutoForm</action>
                <icon>fas:plus-square fa-fw</icon>
            </menuitem>
            <menuitem label="Buscar">
                <action>CategoriaProdutoList</action>
                <icon>fas:search fa-fw</icon>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label="Fornecedores">
        <icon>fas:users fa-fw</icon>
        <menu>
            <menuitem label="Novo registro">
                <action>FornecedorForm</action>
                <icon>fas:plus-square fa-fw</icon>
            </menuitem>
            <menuitem label="Buscar">
                <action>FornecedorList</action>
                <icon>fas:search fa-fw</icon>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label="Relatórios">
        <icon>fas:file fa-fw</icon>
        <menu>
            <menuitem label="Relatório de produtos">
                <action>FornecedorForm</action>
                <icon>fas:shopping-basket fa-fw</icon>
            </menuitem>
        </menu>
    </menuitem>

    <menuitem label='Logs'>
        <icon>fas:desktop fa-fw</icon>
        <menu>
              <menuitem label='Dashboard'>
                  <icon>fas:tachometer-alt fa-fw</icon>
                  <action>SystemLogDashboard</action>
              </menuitem>
              <menuitem label='_t{Access Log}'>
                  <icon>fas:key fa-fw</icon>
                  <action>SystemAccessLogList</action>
              </menuitem>
              <menuitem label='_t{Change Log}'>
                  <icon>fas:film fa-fw</icon>
                  <action>SystemChangeLogView</action>
              </menuitem>
              <menuitem label='_t{SQL Log}'>
                  <icon>fas:database fa-fw</icon>
                  <action>SystemSqlLogList</action>
              </menuitem>
              <menuitem label='_t{Request Log}'>
                  <icon>fas:globe fa-fw</icon>
                  <action>SystemRequestLogList</action>
              </menuitem>
              <menuitem label='_t{PHP Log}'>
                  <icon>fas:exclamation-triangle fa-fw</icon>
                  <action>SystemPHPErrorLogView</action>
              </menuitem>
              <menuitem label='Session dump'>
                  <icon>fas:code fa-fw</icon>
                  <action>SystemSessionDumpView</action>
              </menuitem>
        </menu>
    </menuitem>
    
    <menuitem label='Logout'>
        <action>LoginForm#method=onLogout#static=1</action>
        <icon>fas:sign-out-alt fa-fw</icon>
    </menuitem>
</menu>
